---
import Header from '../../components/header/Header.astro';
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/hero/Hero.astro';
import Experience from '../../components/experience/Experience.astro';
import Footer from '../../components/Footer.astro';
import LanguageSelector from '../../components/LanguageSelector.astro';

const experience = [
  {
    role: "Frontend Analyst Developer - Tech Lead",
    company: "Cobre",
    period: "2020 - Present",
    summary: "Build and implement high-quality features and maintain existing ones while collaborating with designers and backend developers to create seamless user experiences. Decission-making on technical architecture to ensure scalability and performance of applications, implementing best practices for code quality and code testing as part of the development process. Integrate tools that provides user events and analytics to monitor user interactions, ensuring that applications meet user needs and business goals and monitor the application behavior."
  }
];

const personalDescription = "Front-end Developer passionate about building responsive and accessible web applications. I combine modern stacks and frameworks with a strong business understanding to transform objectives into measurable and impactful digital experiences. My technical experience allows me to efficiently bridge the gap between design and development, ensuring seamless collaboration and successful product delivery."

const personalItems = {
	location: "Location",
	email: "Email",
	phone: "Phone",
	linkedin: "LinkedIn",
	github: "GitHub"
}

const menuLabels = {
	home: "Home",
	experience: "Experience",
	about: "About"
};
---

<Layout style="margin: 100px;">
	<Header menuLabels={menuLabels} />
	<main>
		<LanguageSelector />
		<Hero 
			description={personalDescription} 
			personalItems={personalItems} />
		<Experience 
			title="Work Experience"
			experience={experience} />
	</main>
	<Footer rightsLabel="All rights reserved." />
</Layout>

<style>
</style>
