---
import Navbar from '../components/header/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero/Hero.astro';
import About from '../components/about/About.astro';
import Experience from '../components/experience/Experience.astro';
import Footer from '../components/Footer.astro';
import LanguageSelector from '../components/LanguageSelector.astro';
import Projects from '../components/projects/Projects.astro';
import ThemeToggle from '../components/header/ThemeToggle.astro';

const experience = [
  {
    role: "Frontend Senior Analyst Developer - Tech Lead",
    company: "Cobre",
    period: "2022 - Present",
    summary: "Design and implementation of high-quality features and maintenance of existing ones, collaborating with designers and backend developers to create seamless user experiences. Participation in technical architecture decision-making to ensure scalability and performance. Implementation of Microfrontends in Vue, end-to-end testing with Playwright, and Design Systems in Storybook. Data analysis of functionalities to support decision-making regarding business objectives. Experience with Node.js in the Backend-for-Frontend (BFF) layer to optimize communication between services and the frontend."
  },
  {
    role: "Frontend Analyst Developer",
    company: "Cobre",
    period: "2021 - 2022",
    summary: "Responsive development of features for web applications (SPA) using Angular and Ionic, ensuring an optimal and fluid user experience. Integration of tools for tracking and monitoring events and user analytics (Google Analytics/Mixpanel). Integration of tests into the development workflow."
  },
  {
    role: "Frontend Junior Developer",
    company: "Cobre",
    period: "2020 - 2021",
    summary: "Development of features for mobile applications in Ionic and backend service integration. Execution of Proofs of Concept (PoC) to validate technical approaches. Implementation of Feature Flags to manage the dynamic activation of functionalities. Collaboration in the creation and maintenance of technical documentation."
  }
];


const personalItems = {
	location: "Location",
	email: "Email",
	phone: "Phone",
	linkedin: "LinkedIn",
	github: "GitHub"
}

const projectsLabels = {
  title: "Projects",
  content: [
    {
      name: "Mobile Application",
      description: "Used to receive and withdraw money by users of Family Compensation Funds in Colombia.",
      technologies: ["angular", "ionic", "ts"]
    },
    {
      name: "Web Portal",
      description: "First version of the web portal for business use, allowing account, transaction, movement and report management all in one place. Responsive design.",
      technologies: ["angular", "ionic", "ts", "bootstrap"]
    },
    {
      name: "Web Portal",
      description: "Improvements in performance and user experience, with a complete redesign and new features. Micro frontends (MFEs) architecture. Design Systems construction and integration.",
      technologies: ["vue", "pinia", "ts", "storybook", "playwright"]
    }
  ]
}

---

<Layout style="margin: 100px;">
	<Navbar />
  <ThemeToggle />

	<main>
		<section class="no-parallax" id="home">
			<Hero/>
		</section>

    <section class="parallax bg" id="parallax-1"></section>

		<section class="no-parallax" id="about">
			<About />
		</section>

		<section class="parallax bg"></section>

		<section class="no-parallax" id="experience">
			<Experience 
				title="Work Experience" 
				experience={experience} 
			/>
		</section>

		<section class="parallax bg"></section>

		<section class="no-parallax" id="projects">
			<Projects 
				title={projectsLabels.title} 
				projects={projectsLabels.content} 
			/>
		</section>

	</main>

  <LanguageSelector />
	<Footer rightsLabel="All rights reserved." />

</Layout>

<style>
</style>
