---
import ThemeToggle from "./ThemeToggle.astro";

const menuLabels = Astro.props.menuLabels;

const menuItems = [
  { label: menuLabels.home, href: "" },
  { label: menuLabels.experience, href: "#experience" },
  { label: menuLabels.projects, href: "#projects" }
];
---

<div class="header__container d-flex align-items-center justify-content-between">

  <nav class="navbar d-flex align-items-center" aria-label="Primary">
      {menuItems.map(({ label, href }, index) => (
        <input type="checkbox" id={label} class="d-none" checked={} />
        <a
          href={href}
          class={`navbar__item${index === 0 ? ' navbar__item--checked' : ''}`}
          data-index={index}
        >{label}</a>
      ))}
  </nav>

  <ThemeToggle class="mt-3 d-none d-md-block" />
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const items = document.querySelectorAll(".navbar__item");

    items.forEach(item => {
      item.addEventListener("click", () => {
        items.forEach(i => i.classList.remove("navbar__item--checked"));
        item.classList.add("navbar__item--checked");
      });
    });
  });
</script>

<style>
.header__container {
  width: 100%;
  padding: 3rem 15rem;
}

.navbar {
  position: fixed;
  top: 3rem;         
  left: 50%;
  gap: 1rem;
  transform: translateX(-50%);
  z-index: 1000;
  height: 5rem;
  background: var(--navbar-bg);
  border: var(--navbar-border);
  border-radius: 999rem;
  padding: 1rem 3rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.navbar a {
  margin-left: 2rem;
}

.navbar__item {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar__item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--text-gradient);
  left: 0;
  bottom: -4px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar__item--checked {
  color: var(--text-gradient);
}

.navbar__item--checked::after {
  transform: scaleX(1);
}

a {
  text-decoration: none;
  color: var(--link-color);
  line-height: 1.2;
  font-size: var(--text-xl);
}

a:hover {
  color: var(--text-gradient);
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1920px) {
  .header__container {
    padding: 3rem 15rem;
  }

}

@media (max-width: 1440px) {
  .header__container {
    padding: 3rem 2rem;
  }
  
}

@media (max-width: 1024px) {
  .header__container {
    padding: 2rem 1rem;
  }

  .navbar {
    top: 2rem;
    height: 4rem;
    padding: 0.25rem;
  }


  a {
    padding: 1rem 2rem;
    font-size: var(--text-md);
  }
}

@media (max-width: 600px) {
  .header__container {
    padding: 2rem 1rem;
  }

  .navbar {
    top: 2rem;
    height: 4rem;
    padding: 0.25rem;
  }

   a {
    padding: 0.5rem 1rem;
    font-size: var(--text-md);
  }
}
</style>
